
<footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">
  
        <div class="row">
    
            <div class="col-md-6 mt-md-0 mt-3">
    
            <h5 class="text-uppercase">GUBEE INSIDER</h5>
            <p>Seja recompensado por ser um fã da Gubee.</p>
    
            </div>
    
            <hr class="clearfix w-100 d-md-none pb-3">
    
            <div class="col-md-3 mb-md-0 mb-3">
    
                <!--h5 class="text-uppercase">Links</h5-->
        
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link-a" href="#!">SOBRE A GUBEE</a>
                    </li>
                    <li>
                        <a class="nav-link-a" href="#!">AJUDA</a  >
                    </li>
                    <li>
                        <a class="nav-link-a" href="#!">CARREIRA</a>
                    </li>
                    <li>
                        <a class="nav-link-a" href="#!">ESTÁGIOS</a>
                    </li>
                </ul>
    
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
    
                <!--h5 class="text-uppercase">Links</h5-->
        
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link-a" href="#!">PUBLICIDADE</a>
                    </li>
                    <li>
                        <a class="nav-link-a" href="#!">GUBEE.COM</a>
                    </li>
                    <li>
                        <a class="nav-link-a" href="#!">DIGITAL GUBEE</a>
                    </li>
                </ul>
    
            </div>
    
        </div>
  
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="nav-link-a" href="https://www.gubee.com/"> Gubee.com</a>
    </div>
  
</footer>